<!DOCTYPE html>
<head>
    <title>Node: Workshop 1</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <h1>Node: Workshop 1</h1>
    </header>
    <div class='main'>
                <a href='https://smooch.io/bacon'>404 Site</a>
            </div>
        </div>
    </div>
</body>