<!DOCTYPE html>
<head>
    <title>Node: Workshop 1</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <h1>Node: Workshop 1</h1>
    </header>
    <div class='main'>
        <h2>Country road....</h2>
        <div class='content'>
                <h3>Take me home...</h3>
                
                <button onClick='function go(){location.href="http://localhost:8000/question1"}; go()'>Q1</button>
                <button onClick='function go(){location.href="http://localhost:8000/question2"}; go()'>Q2</button>
                <button onClick='function go(){location.href="http://localhost:8000/question3"}; go()'>Q3</button>
                <button onClick='function go(){location.href="http://localhost:8000/question4"}; go()'>Q4</button>
                <button onClick='function go(){location.href="http://localhost:8000/question5"}; go()'>Q5</button>
                <button onClick='function go(){location.href="http://localhost:8000/question6"}; go()'>Q6</button>
                <button onClick='function go(){location.href="http://localhost:8000/question7"}; go()'>Q7</button>
                <button onClick='function go(){location.href="http://localhost:8000/question8"}; go()'>Q8</button>
                <button onClick='function go(){location.href="http://localhost:8000/question9"}; go()'>Q9</button>
                <button onClick='function go(){location.href="http://localhost:8000/question10"}; go()'>Q10</button>
            </div>
        </div>
    </div>
</body>