<!-- <a href ="question7">Previous</a>              These only work when opening a new tab
<a href="localhost:8000/question9">Next</a> -->

<button id="clicker" onClick='function go(){location.href="http://localhost:8000/question7"}; go()'>Previous</button>


<button onClick='function go(){location.href="http://localhost:8000/question9"}; go()'>Next</button>

<!-- <script>
    const getIt = document.getElementById('clicker');
    console.log(getIt);
</script> -->

<!-- So I tried for a while to figure out how to make the question # change based on the site you were on...
Turns out, that's not what Scott wanted. -->


<!-- window.location.href -->